* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif !important;
    /*position: relative;*/
}

.home-bg{
    background: url('../img/homeBg.png') center;
    background-size: cover;
}

.home {
    height: 1000px;
    position: relative;
}

.navbar {
    background-color: transparent;
    border:0;
}

nav img {
    padding: 1rem;
    margin-top: 1rem;
}

nav li {
    padding: 1rem;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 1rem;
}

.navbar-nav li a:hover{
    color: lightgreen !important;
}

.navbar-nav li a:active{
    background-color: transparent !important;
}

.text-box {
    width: 14rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn .btn-danger {
    color: #fff;
}

.home-title{
    font-size: 3rem;
    font-weight: 800;
}

.home-paragraph {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.about {
    background-color: #00b8b8;
    height: 700px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about p {
    margin-top: 1rem;
}

.about-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text span {
    font-size: 64px;
    font-weight: 700;
}

.services {
    height: 790px;
    background: #70bfff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.services-img {
    color: #fff;
}

.list-item {
    width: 20rem;
    height: 5rem;
    margin-top: 1rem;
    text-decoration: none;
    font-weight: 700;
    background-color: #fff;
    text-align: center;
    line-height: 3rem;
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.list-item a {
    color: #262626;
    padding-left: 1.5rem;
}

.list-item a:hover{
    text-decoration: none;
}

.list-item div {
    border-left: 1px solid black;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item div i img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.services-img {
    position:relative;
}

.services-img span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: 700;
    width: 100%;
}

.gallery {
    background-color: #ffe92f;
    height: 1536px;
    text-align: center;
}

.gallery-text{
    display: inline-block;
    width: 50%;
    padding-top: 4.5rem;
}

.gallery-text h1 {
    font-size: 4rem;
    font-weight: 700;
    padding-bottom: 2rem;
}

.gallery-text p {
    font-size: 1rem;
}

.gallery .gallery-item {
   margin: 0 auto 30px;
}

.gallery .img-responsive {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.gallery-box {
    margin-top:2rem;
}

.subscribe {
    height: 500px;
    background-image: url("../img/bgSubscribe.png");
    display: flex;
    align-items: center;
}

.subscribe-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subscribe h3 {
    font-size: 2rem;
    font-weight: 700;
}

.subscribe p {
    margin-top: 1rem;
}

.subscribe-container {
    display: flex;
    flex-direction: column;
}

.subscribe-form {
    margin-top: 1rem;
}

.subscribe input {
    border: 1px solid black;
    height: 2rem;
    width: 25rem !important;
}

.subscribe .btn {
    background-color: #96b92c !important;
    height: 2rem;
    width: 15%;
    color: #fff;
    margin-left: 5rem;
    font-size: 1rem;
}