.home {
    height: 1000px;
    background-image: url('img/homeBg.png');
}

.navbar {
    background-color: transparent;
    border: 0;
}

nav img {
    padding: 1rem;
    margin-top: 1rem;
}

nav li {
    padding: 1rem;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 1rem;
}

nav .navbar-nav ul li a:hover{
    color: yellow !important;
}

.text-box {
    width: 14rem;
}

.btn .btn-danger {
    color: #fff;
}

.home-title{
    font-size: 2rem;
    font-weight: 700;
}

.home-paragraph {
    margin: 1rem 1rem;
}